/* * {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1:hover {
    color: green;
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

nav a:hover {
    border: 1px solid green;
    border-radius: 10px;
    padding: 5px;
    margin: 4px;
    color: green;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
    color: #fff;
}

